<div class="parallax">
    <div class="title-blog">Who are we?
        <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam aspernatur ipsa voluptate necessitatibus sit, iusto commodi ipsam soluta rem explicabo a facilis ut ullam libero pariatur fugiat fuga reprehenderit? Sequi?</div>
    </div>
</div>
<div class="parallax"></div>

<div class="parallax2">
    <div class="title-blog1">Who are we?
        <div>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Non commodi deleniti quo labore ea esse, eos sapiente est fugiat laborum facere cum vero perferendis repellat! Quasi cumque quas suscipit hic.</div>
    </div>
</div>
<div class="parallax2"></div>

  <div class="parallax3">
    <div class="title-blog1">Who are we?
        <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit perferendis laborum quo ducimus. Pariatur fuga possimus accusamus, quia ducimus ullam in ratione officia cum. Assumenda omnis impedit eligendi aut dignissimos.m facere cum vero perferendis repellat! Quasi cumque quas suscipit hic.</div>
    </div>
<div class="parallax3"></div>