* {
    font-family: 'Bungee';
}

.parallax {
    /* The image used */
    background: url("/assets/photos/par1.jpg");
    /* Full height */
    height: 500px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title-blog {
    width: 100%;
    background-color: white;
    height: 170px;
    position: sticky;
    text-align: center;
}

.parallax2 {

    background: url("/assets/photos/par2.jpg");
    height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.title-blog1 {
    width: 100%;
    background-color: white;
    height: 210px;
    position: sticky;
    text-align: center;
}

.parallax3 {

    background: url("/assets/photos/par3.jpg");
    height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title-blog2 {
    width: 100%;
    background-color: white;
    height: 20px;
    position: sticky;
    text-align: center;
}