<div class="main-grid">
  <div *ngFor="let product of products; index as i">
    <div class="card" style="width: 18rem;">
      <img src="{{ product.img }}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{ product.name }}</h5>
        <p class="card-text description">{{ product.shortDescription }}</p>
        <ng-container *ngIf="product.availability">
          <a routerLink="/details/{{ i }}" class="btn btn-primary btn-details">Details</a>
          <a (click)="addToCart(product)" class="btn btn-primary btn-order">Order</a>
        </ng-container>
        <ng-container *ngIf="!product.availability"><span class="notav">Not available</span>
          
        </ng-container>
      </div>
    </div>
  </div>
</div>