<div class="card main-card">
  <div class="container text-center bg-warning">
  <div class="row text-container">
  <div class="col-md-8 background-text">
  <div class="card-body text">
    <h2 class="card-title ">{{product.name}}</h2>
    <p class="card-text"><small class="text-body-secondary">{{product.longDescription}}</small></p>
    <a (click)="addToCart()" class="btn btn-primary btn-order">Order</a>
  </div>
</div>

  <div class="col-6 col-md-4"><img  src="{{product.img}}" width="420px" height="500px" alt=""></div>
  </div>